html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(201, 201, 201);
}

body {
  background-image: url("https://audionotes-seed.s3.amazonaws.com/musicnotes.png");
  background-size: cover;
  opacity: 0.9;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu h1 {
  font-family: "Poiret One", cursive;
  font-size: 40px;
  letter-spacing: 7px;
  color: #b0b7ba;
}

.audio-top-menu {
  display: flex;
  align-items: center;
  width: 1100px;
  height: 35px;
  background: linear-gradient(
    180deg,
    rgba(54, 58, 62, 1) 0%,
    rgba(34, 37, 42, 1) 33%,
    rgba(9, 9, 10, 1) 100%
  );
  border-radius: 5px 5px 0 0;
  z-index: 1;
}

.audio-synth-menu {
  display: flex;
  list-style-type: none;
}

.audio-synth-menu li {
  margin-left: 30px;
  font-family: "Poiret One", cursive;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  color: #b0b7ba;
  cursor: pointer;
}

.audio-synth-menu li:hover {
  color: #abcca0;
}

.audio-synth-menu .active {
  display: block;
}

#audio-container {
  display: flex;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audio-wrapper {
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px #727272, 0 0 40px #727272, 0 0 80px #727272;
}

#audio-note {
  border: 1px solid gray;
}

.note-container {
  border-radius: 5px;
  width: 950px;
  height: 495px;
  background-color: #25252b;

  z-index: 1;
}

.note-container div {
  display: flex;
  height: 4%;
}

.bottom-menu {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  height: 40px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(
    180deg,
    rgba(54, 58, 62, 1) 0%,
    rgba(34, 37, 42, 1) 33%,
    rgba(9, 9, 10, 1) 100%
  );

  box-shadow: 0 0 0.5px #b1b1b1, 0 0 8px #b1b1b1;
}

.bottom-menu-left {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.bottom-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
}

.bottom-menu-right div a {
  text-decoration: none;
  color: #b0b7ba;
  font-family: "Poiret One", cursive;
  letter-spacing: 4px;
}

.bottom-menu-right div {
  margin-right: 40px;
}

.bottom-menu-left button {
  background-color: transparent;
  border: none;
  outline: none;
}

.bottom-menu-left button i {
  font-size: 23px;
  cursor: pointer;
  color: rgb(77, 77, 77);
}

.bottom-menu-left button i:hover {
  font-size: 25px;
  color: #b0b7ba;
  transition: all 0.3s ease;
}

.bottom-menu-left button i:active {
  font-size: 27px;
  color: #b0b7ba;
  transition: all 0.3s ease;
}

.clear-btn {
  border: none;
  background-color: transparent;
  font-family: "Poiret One", cursive;
  font-size: 23px;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
  color: #b0b7ba;
}

.clear-btn:hover {
  transition: all 0.3s ease;
  font-size: 25px;
}

.tempo-input {
  font-family: "Poiret One", cursive;
  font-size: 23px;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  outline: none;
  color: #b0b7ba;
}

.tempo-input input {
  height: 40px;
  width: 80px;
  margin-left: 10px;
  font-size: 23px;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-weight: 600;
  letter-spacing: 4px;
  background-color: transparent;
  color: #b0b7ba;
  border: none;
  outline: none;
}

.github-link,
.linkedin-link {
  position: relative;
  display: inline-block;
  font-size: 23px;
}

.github-link > a:after,
.linkedin-link > a:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.github-link > a:hover:after,
.linkedin-link > a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
